<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Realizar Cadastro</h2>
  <form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nome', 'nome', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CPF', 'cpf', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'endereco', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CEP', 'cep', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telefone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${owner['new']} ? 'Cadastrar' : 'Alterar'"
          class="btn btn-default" type="submit" th:text="${text}">Cadastrar</button>
      </div>
    </div>
  </form>
</body>
</html>
